header {
	position: fixed;
	width: 100%;
	min-height: 66px;
	z-index: 600;
}

header .top-bar {
	display: flex;
	background: rgba(19, 19, 19, 0.6);
	min-width: 100%;
	min-height: 66px;
	align-items: center;
}

header .logo {
	float: left;
	padding: 5px 30px;
	position: relative;
}

header .logo a {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	width: 92px;
	height: 15px;
	background: url("../images/logo.png") no-repeat center;
	background-size: 92px 15px;
}

/**
 * menu toggle - (_layout.css)
 * ------------------------------------------------------------------- 
 */


/* navigation panel */
#main-nav-wrap {
	width: 100%;
	font-family: "poppins-medium", sans-serif;
	font-size: 1rem;
}

/* dropdown nav */
.main-navigation {
	margin: 0;
	width: 100%;
	height: auto;
	clear: both;
	display: flex;
	align-items: center;
	gap: 10px
}

.main-navigation > li {
	display: block;
	height: auto;
	text-align: left;
	padding: 0;
}
.main-navigation li a {
    text-decoration: none;
	display: block;
	color: #FFFFFF;
	width: auto;
	padding: 15px 0;
	line-height: 16px;
	border: none;
	padding: 1rem;
}
.main-navigation li a:hover {
	color: #cc9c00;
	padding-left: 1rem;
}
.main-navigation li.current > a {
	background: none;
	color: #cc9c00;
}
