/* 🔧 Ajustes Globais */
body {
    background-color: black;
    max-width: 100vw;
    min-height: 100vh;
    color: #f6f6f6;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 84vh;
}

/* 🔲 Layout das Seções */
section {
    gap: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 🖼️ Estilo de Introdução */
#intro {
    background: #151515 url(../images/intro-bg.jpg) no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: table;
    position: relative;
    text-align: center;
}

/* 🎨 Sobreposição do Fundo de Introdução */
.intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111;
    opacity: .85;
}

/* 📝 Conteúdo da Introdução */
.intro-content {
    transform: translateY(-2.1rem);
    top: 0vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* 🔤 Texto da Introdução */
.intro-content .intro-position {
    font-family: "lora-regular", serif;
    font-size: 1rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #FFFFFF;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* 📝 Definição dos Span's dentro do Texto */
.intro-content .intro-position span {
    display: inline-block;
}

.intro-content .intro-position span::after {
    content: "|";
    text-align: center;
    display: inline-block;
    padding: 0 8px 0 14px;
    color: rgba(255, 255, 255, 0.3);
}

.intro-content .intro-position span:first-child::before {
    content: "|";
    text-align: center;
    display: inline-block;
    padding: 0 14px 0 8px;
    color: rgba(255, 255, 255, 0.3);
}

/* 🚀 Seção de Introdução */
.intro-section {
    margin-top: 50px;
    gap: 0;
}

/* 🔘 Estilo do Botão */
.button {
    font-family: "Poppins", sans-serif;
    border: #696969 solid 3px;
    padding: 18px 45px;
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1.565;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-decoration: none;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    margin-top: 50px;
    transition: border 0.3s ease;
}

/* 🖱️ Efeito de Hover do Botão */
.button:hover {
    border: 3px solid #ffa527;
}

/* 💪 Texto em Destaque */
strong {
    font-family: "Poppins", sans-serif;
    color: #ffa527;
    font-size: 1.8rem;
    line-height: 1.565;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

/* 📑 Texto Comum */
.text {
    font-weight: 400;
    letter-spacing: 0%;
}

/* 📘 Título Principal */
.title {
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 1.071;
    max-width: 900px;
    margin-top: 0;
    margin-bottom: .6rem;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* 📱 Responsividade para Telas Menores */
@media screen and (max-width: 768px) {
    #intro {
        min-height: 100vh;
    }
    .container {
        gap: 8vw;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .main-image {
        max-width: 80%;
    }

    .description {
        font-size: 13px;
    }

    .title {
        font-size: 19px;
    }
}
