/* 🎨 Variáveis */
:root {
    --primary-bg: #151515;
    --overlay-bg: #111111;
    --highlight-color: rgb(255, 209, 133);
    --text-color: #f6f6f6;
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Poppins", sans-serif;
    --font-tertiary: "Roboto", sans-serif;
}

/* 🎨 Reset e Configuração de Caixa */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 🎨 Corpo e Fundo */
body {
    background-color: var(--primary-bg);
    color: var(--text-color);
    max-width: 100vw;
    min-height: 100vh;
}

/* 📌 Layout Principal */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 84vh;
}

/* 📦 Seções e Containers */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.section-a {
    max-width: 40%;
}

.section-b {
    max-width: 60%;
}

/* 🎨 Estilo para textos importantes */
strong {
    color: var(--highlight-color);
    text-transform: uppercase;
    text-shadow: 
        0 0 10px rgba(255, 194, 102, 0.8), 
        0 0 20px rgba(255, 194, 102, 0.6),
        0 0 40px rgba(255, 194, 102, 0.4), 
        0 0 60px rgba(255, 194, 102, 0.2);
}

/* 📝 Textos e Descrições */
.text {
    font-weight: 400;
    letter-spacing: 0.5px;
}

.description {
    font-family: var(--font-primary);
    font-size: clamp(16px, 2vw, 24px);
    line-height: 1.5;
    text-align: justify;
    max-width: 80vw;
    margin: 0 auto;
    padding: 10px;
}

/* 🎨 Títulos */
.title {
    font-family: var(--font-secondary);
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.071;
    max-width: 900px;
    margin: 0 auto;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* 🖼️ Imagem Principal */
.main-image {
    max-width: 400px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 55px 6px rgb(255, 200, 111);
}

/* 🏗️ Container Principal */
.container {
    padding-top: 8vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    max-width: 80vw;
    margin: 0 auto;
    min-height: 100vh;
}

.container section {
    flex: 1;
}

/* 📏 Ajustes de Layout para Diferentes Telas */
@media screen and (max-width: 1120px) {
    .container {
        gap: 8vw;
    }
}

@media screen and (max-width: 768px) {
    .main-image {
        max-width: 60%;
    }
    .container {
        gap: 8vw;
        flex-direction: column;
        max-width: 75vw;
    }
    .container section {
        flex: unset;
    }
}

@media screen and (max-width: 480px) {
    .main-image {
        max-width: 80%;
    }
    .description {
        font-size: 13px;
    }
    .title {
        font-size: 19px;
    }
    .container {
        gap: 10vw;
    }
}
